{
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "airbnb-typescript",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "no-param-reassign": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
