.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

input {
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

label {
  font-size: 12px;
  color: rgb(47, 43, 43);
}

span {
  font-size: 13px;
  margin-top: -10px;
  border: 1px solid red;
  background-color: rgb(21, 21, 28);
  border-radius: 5px;
  text-shadow: 1px 1px 1px;
  padding: 3px;
  color: rgb(255, 0, 0);
  display: none;
}

input:invalid:focus {
  border: 1px solid;
}
